.container-menu-mobile {
  display: none;
}

.container {
  justify-self: center;
  justify-items: center;
  margin-bottom: 20px;

}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBF9FE;
  width: 971px;
  height: 67px;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1.5px solid #E4E4E4;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 18px;

  cursor: pointer;
}

.menu li {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.menu li:active {
  transform: scale(0.96);
}

.menu a {
  color: #1F2937;
  text-decoration: none;
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 2px;
  transition: color 0.3s ease;

}

.menu a:hover {
  color: #a5a5a5;

}


/*MOBILE*/



@media (max-width: 915px) {
  .container {
    display: none;
  }

  .container-menu-mobile {
    display: contents;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 3px solid #ececec;
    height: 60px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    /* remove azul no mobile */


  }

  .logo {
    font-size: 23px;
    font-weight: 600;
    color: #6c78a6;
  }

  .menu-btn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: #6c78a6;
    font-weight: 600;
    height: 30px;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c78a6;
    opacity: 0;
    transform: scale(0.8);
    font-size: 26px;
    transition: opacity 0.25s ease, transform 0.25s ease;
    height: 0;
    pointer-events: none;
    line-height: 1;
  }

  .icon.show {
    opacity: 1;
    transform: scale(1);
  }


  /* MENU */
  .mobile-menu {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    height: 30px;
    background: #fff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .mobile-menu.active {
    max-height: 210px;
  }

  .mobile-menu ul {
    display: flex;
    justify-content: space-around;
    padding: 3.6px 0;
    border-bottom: 3.2px solid #ececec;
    list-style: none;
    margin: 0;
  }

  .mobile-menu a {
    position: relative;
    padding-bottom: 7px;
    text-decoration: none;
    color: #484C57;
    font-weight: 400;
    font-size: 14px;


  }

  .mobile-menu a.active {
    color: #6c78a6;
  }

  .mobile-menu a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 100%;
    height: 3px;
    background: #6c78a6;
  }


}

@media (max-width: 400px) {

  .menu-btn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: #6c78a6;
    font-weight: 600;
    height: 30px;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c78a6;
    opacity: 0;
    transform: scale(0.8);
    font-size: 26px;
    transition: opacity 0.25s ease, transform 0.25s ease;
    height: 0;
    pointer-events: none;
    line-height: 1;
  }

  .icon.show {
    opacity: 1;
    transform: scale(1);
  }


  /* MENU */
  .mobile-menu {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    height: 30px;
    background: #fff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .mobile-menu.active {
    max-height: 210px;
  }

  .mobile-menu ul {
    display: flex;
    justify-content: space-around;
    padding: 3.6px 0;
    border-bottom: 3.2px solid #ececec;
    list-style: none;
    margin: 0;
  }

  .mobile-menu a {
    position: relative;
    padding-bottom: 7px;
    text-decoration: none;
    color: #484C57;
    font-weight: 400;
    font-size: 14px;


  }

  .mobile-menu a.active {
    color: #6c78a6;
  }

  .mobile-menu a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 100%;
    height: 3px;
    background: #6c78a6;
  }


}
