.container {
  justify-self: center;
  justify-items: center;
  margin-bottom: 20px;

}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBF9FE;
  width: 971px;
  height: 67px;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1.5px solid #E4E4E4;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 18px;

  cursor: pointer;
}

.menu li{
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.menu li:active {
  transform: scale(0.96);
}

.menu a {
  color: #1F2937;
  text-decoration: none;
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 2px;
  transition: color 0.3s ease;

}

.menu a:hover {
  color: #a5a5a5;

}

