<app-menu  [activeIndex]="currentIndex"
  (navigate)="goToSection($event)"></app-menu>

<div
  class="Container"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <div class="wrapper" [style.transform]="transform">
    <section>
      <app-inicio></app-inicio>
    </section>

    <section>
      <app-sobre (back)="goBack()"></app-sobre>
    </section>

    <section>
      <app-habilidades (back)="goBack()"></app-habilidades>
    </section>

    <section>
      <app-projetos [ativarCirculo]="ativarCirculo" (back)="goBack()" ></app-projetos>
    </section>

    <section>
      <app-contato (back)="goBack()"></app-contato>
    </section>
  </div>
</div>
