<app-menu
  [activeIndex]="currentIndex"
  (navigate)="goToSection($event)"
></app-menu>

<div
  class="Container"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <div class="wrapper" [style.transform]="transform">
    <section id="inicio">
      <app-inicio></app-inicio>
    </section>

    <section id="sobre">
      <app-sobre (back)="goBack()"></app-sobre>
    </section>

    <section id="habilidades">
      <app-habilidades (back)="goBack()"></app-habilidades>
    </section>

    <section id="projetos">
      <app-projetos
        [ativarCirculo]="ativarCirculo"
        (back)="goBack()"
      ></app-projetos>
    </section>

    <section id="contato">
      <app-contato (back)="goBack()"></app-contato>
    </section>
  </div>
</div>
