app-menu {
  position: sticky;
  top: 0;
  z-index: 9999;
}

app-inicio {
  cursor: default;

}

app-sobre {
  .Container {
    display: block;
    width: 100%;

  }

}

app-projetos {
  .Container {
    margin: 0;
    width: 100%;
  }
}

app-contato {
  .Container {
    margin: 0;

  }

  width: 100%;

}

.Container {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 971px;
  background-color: #FBF9FE;
  margin: 0 auto;
  border-radius: 5px;
}

@media (max-width: 915px) {
  .Container {
    margin: 0;
    display: block;
    width: 100vw;
    background-color: none;
    min-height: 100dvh;
    justify-self: center;
    align-items: start;
    overflow: hidden;
    touch-action: pan-y;
  }


  .wrapper {
    display: flex;
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }

  section {
    width: 100vw;
    height: 100;
    flex-shrink: 0;
    overflow-y: auto;
  }

  app-habilidades {
    .Container {
        min-height: 50dvh;
    }
  }
}
