app-menu {
  position: sticky;
  top: 0;
  z-index: 9999;
}
app-inicio {
  cursor: default;
}

.Container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 971px;
  background-color: #FBF9FE;
  margin: 0 auto;
  border-radius: 5px;
}


