app-menu {
  position: sticky;
  top: 0;
  z-index: 9999;
}
app-inicio {
  cursor: default;

}
app-sobre,
.Container {
  display: block;
  width: 100%;
  min-height: 100svh;
}

.Container {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 971px;
  background-color: #FBF9FE;
  margin: 0 auto;
  border-radius: 5px;
}


@media (max-width: 915px) {
  .Container {
  width: 100%;
}
}
