<div class="Container">
  <div class="container-painel">
    <div class="titulo">
      <h1>Projetos</h1>
      <p>Confira alguns dos meus projetos mais recentes</p>
    </div>
    <div class="container-projetos">
      <div class="flex1">
        <div class="card">
          <app-card [ativarCirculo]="ativarCirculo"></app-card>
        </div>
        <app-empty></app-empty>
      </div>
      <div class="flex2"><app-empty></app-empty>
      <app-empty></app-empty></div>
    </div>
  </div>
</div>
