


.titulo{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 20px;

}
.titulo h1{

  color: #2A2A2A;
  font-size: 40px;
}

.titulo p{
  color: #374151;
  font-size: 15px;
  margin-top: 0px;
}

.img-container{
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;

}
.img-container img{
  width: 8%;
  height: auto;
  object-fit: contain;
}

.titulo .info{
  color: #374151;
  font-size: 14px;
  padding: 10px;
}
