<div class="Container">
  <div class="container-painel">
    <div class="titulo">
      <img src="/icones/Arrow-left.svg" class="arrow"
    (click)="back.emit()"
    alt="Voltar"/><h1>Habilidades</h1>

    </div>
    <p>
        Conjunto de habilidades e tecnologias que utilizo no desenvolvimento de
        soluções web
      </p>
    <div class="img-container">
      <img src="images/HTML5.png" />
      <img src="images/CSS3.png" />
      <img src="images/Javascript.png" />
      <img src="images/Angular.png" />
      <img src="images/MySQL.png" />
      <img src="images/Nodejs.png" />
    </div>

    <div class="container-info">
      <p class="info">HTML5, CSS3, JavaScript, Angular, MySQL, NodeJS</p>
    </div>
  </div>
</div>
