<div class="Container">
  <div class="container-painel">
    <div class="titulo">
      <img src="/icones/Arrow-left.svg"/><h1>Contato</h1>
    </div>
     <p>
        Para informações sobre meus projetos e atuação profissional em
        desenvolvimento web,
      </p>
      <p>utilize os canais de contato abaixo</p>
  </div>
<div class="container-flex">
    <div class="flex1"><app-card-contato></app-card-contato></div>
    <div class="flex2">
      <div class="container-contatos">
        <h1>Outros Contatos</h1>
        <div class="email">
          <img src="/icones/mail.svg" />
          <p>joao.curto.almeida&#64;gmail.com</p>
        </div>
        <div class="linkedin">
          <img src="/icones/linkedin.svg" />
          <p>Linkedin</p>
        </div>
        <div class="github">
          <img src="/icones/git.svg" />
          <p>Github</p>
        </div>
        <div class="whatsapp">
          <img src="/icones/whatsapp.svg" />
          <p>Whatsapp</p>
        </div>

    </div>
    <div class="botao-cv">
        <button> <img src="/icones/file-text.svg"> Currículo (.PDF)</button>
      </div>
      </div>
  </div>

</div>
