.container {
  display: flex;
  justify-content: center;
  width: 380px;
  height: 300px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.empty-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 365px;
  height: 300px;
  border-radius: 5px;
  background-image: url('/images/Rectangle-borda.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 100% auto;

}
.empty-img img{
  width: 195px;
  height: 135px;

}
.container .titulo {
  text-align: center;
  margin-bottom: 20px;
}

.titulo h3 {
   font-size: 1.2rem;
  color: #374151;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 15px;
}

.titulo p{
  font-size: 0.8rem;
  color: #374151;
  line-height: 1.3;

}
