



<div class="Container">


  <div class="container-titulo">
    <h1>Sobre</h1>
  </div>

  <div class="container-sobre">
    <div class="flex1">1</div>
    <div class="flex2">
      <p>Sobre Mim</p>

    <div class="text1">
      <p>Olá! Meu nome é João e sou um desenvolvedor web
      especializado em criação de sites modernos e eficientes. Tenho
      experiência em desenvolvimento front-end e back-end, e
      estou sempre em busca de aprender novas tecnologias e me
      lhorar minhas habilidades.</p>

      <p>Meu objetivo é transformar ideias em soluções digitais bem
        estruturadas, que aliem desempenho, usabilidade e um visual
        moderno, garantindo qualidade e eficiência em cada projeto.</p>
    </div>
    </div>

  </div>
      <div class="container-cards">
        <div class="card1">
          <h2>Perfil Profissional</h2>
          <div class="info-card">
            <img src="/icones/flag.svg">
          <span>Desenvolvedor web com foco em front-end e back-end, criando soluções modernas, responsivas e organizadas.</span>
          </div>
          <div class="info-card">
           <img src="/icones/flag.svg">
          <span>Busco constantemente aprimorar minhas habilidades e acompanhar as melhores práticas do mercado.</span>
          </div>
          <div class="info-card">
           <img src="/icones/flag.svg">
          <span>Comprometido com qualidade, desempenho e boa experiência do usuário.</span>

        </div>

        </div>
        <div class="card2">
          <h2>O que eu faço</h2>
          <div class="info-card">
            <img src="/icones/flag.svg">
          <span>Desenvolvimento de sites responsivos e adaptados para diferentes dispositivos.</span>
          </div>
          <div class="info-card">
           <img src="/icones/flag.svg">
          <span>Criação de interfaces modernas e intuitivas.</span>
          </div>
          <div class="info-card">
           <img src="/icones/flag.svg">
          <span>Integração com APIs e bancos de dados.</span>
        </div>
           <div class="info-card">
           <img src="/icones/flag.svg">
          <span>Manutenção, otimização e melhoria contínua de aplicações web.</span>
        </div>
</div>

