
.container-titulo {
  display: flex;
}

.container-titulo h1 {
  padding-left: 7%;
  color: #2A2A2A;
  font-size: 40px;
}

.container-sobre {
  display: flex;

}

.container-sobre,
.flex1 {
  width: 65%;
  height: auto;
}

.container-sobre,
.flex2 {
  width: 100%;
  height: auto;
}

.flex2 p {
  color: #1F2937;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;

}

.text1 p {
  color: #374151;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 20px;
  font-weight: 400;
  line-height: 2;
}

.container-cards {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30vh;


}

.container-cards .card1 {


  width: 855px;
  height: 235px;
  margin: 15px 7px 15px 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.container-cards .card2 {
  width: 855px;
  height: 235px;
  margin: 15px 30px 15px 7px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

}

.info-card {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  margin-left: 10px;
}

.card1 h2,
.card2 h2 {
  color: #1F2937;
  font-size: 18px;
  font-weight: 600;
  margin: 25px;


}

.card1 span,
.card2 span {
  font-size: 14px;
  color: #374151;
}

.card1 img,
.card2 img {
  width: 18px;
  height: auto;
  padding-left: 5px;
}
