
<div class="Container">
  <div class="container-painel">
    <div class="bloco1">
      <div class="info1">
        <h1>Olá, eu sou</h1>
        <h1>João Almeida.</h1>
        <p class="text">Desenvolvedor Web</p>

        <div class="info2">
          <p>Desenvolvo soluções web modernas e bem</p>
          <p>estruturadas, priorizando desempenho e qualidade.</p>
          <p>Abaixo estão alguns projetos que representam</p>
          <p>meu trabalho.</p>
        </div>
        <div class="botao-contatos">
          <div class="botao1">
            <img src="/icones/Frame.svg" />
            <p>Ver Projetos</p>
          </div>
          <div class="botao2">
            <img src="/icones/Vector.svg" />
            <p>Entrar em Contato</p>
          </div>
        </div>
        <div class="contatos">
          <div class="git-icon"><img src="/icones/git.svg" /></div>
          <div class="linkedin-icon"><img src="/icones/linkedin.svg" /></div>
          <div class="whatsapp-icon"><img src="/icones/whatsapp.svg" /></div>
          <div class="mail-icon"><img src="/icones/mail.svg" /></div>
        </div>
      </div>
    </div>
    <div class="bloco2"></div>
  </div>


</div>
