
.Container-mobile{
  display: none;
}
.container-painel {
  display: flex;
  justify-self: center;
  width: 971px;
  min-height: 100svh;
  user-select: none;
  -webkit-user-drag: none;
  margin-top: 60px;
}

.bloco1 {
  width: 471px;
  padding-left: 50px;

}

.bloco2 {
  width: 500px;
  background-image: url('/images/laptop-menu.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 90% auto;
}

.bloco2 img {
  width: 300px;
  height: auto;
  border-radius: 5px;

}

.info1 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  cursor: default;
}

.container-painel h1 {
  color: #484C57;
  font-size: 43px;
  margin: 0;
}

.container-painel .text {
  color: #5F7ECC;
  font-size: 27px;
  font-weight: 500;
  margin-top: 10px;
}

.container-painel .info2 {
  color: #535353;
  font-size: 17px;
  padding-bottom: 10px;

}

.botao-contatos {
  display: flex;
  gap: 5%;
}

.botao-contatos .botao1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #E4E4E4;
  width: 180px;
  height: 48px;
  background-color: #68779E;
  border-radius: 8px;
  border: 1.5px solid #e4e4e400;
  transition: transform 0.1s ease, border 0.3s ease;
}

.botao1 p {
  color: #FFFFFF;
  font-size: 16px;
}

.botao1 img {
  padding-right: 15px;
  width: 35px;
  height: auto;
}

.botao1:active {
  transform: scale(0.98);
}

.botao-contatos .botao1:hover {
  cursor: pointer;
  background-color: #7f8db3;

}

.botao-contatos .botao2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #E4E4E4;
  width: 220px;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 8px;
  transition: transform 0.1s ease, border 0.3s ease;
}

.botao-contatos .botao2:hover {
  cursor: pointer;
  border: 1.5px solid #68779E;

}

.botao2 p {
  color: #535353;
  font-size: 16px;
}

.botao2 img {
  padding-right: 15px;
  width: 35px;
  height: auto;
}

.botao2:active {
  transform: scale(0.98);
}

.contatos {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.contatos img {
  width: 67%;
  height: auto;
}

.git-icon,
.linkedin-icon,
.mail-icon,
.whatsapp-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 500px;
  background-color: #FFFFFF;
  border: 1.5px solid #E4E4E4;
  transition: all 0.3s ease;

}

.git-icon:hover,
.linkedin-icon:hover,
.mail-icon:hover,
.whatsapp-icon:hover {
  cursor: pointer;
  border: 1.5px solid #b9b9b9;
}

/*MOBILE*/

@media (max-width: 915px) {
  .Container {
    display: none;

  }
  .Container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
  }

  .container-painel-mobile{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;

  }

  .container-painel-mobile h1 {
    color: #484C57;
    font-size: 32px;
    margin: 0;
    padding-bottom: 5px;
  }

  .container-painel-mobile .text {
  color: #5F7ECC;
  font-size: 19px;
  font-weight: 500;
  margin-top: 5px;
  }


  .info-mobile{
    margin: 0;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 15px;
    color: #535353;
  }
  .container-botao-mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;

  }

  .botao-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #E4E4E4;
  width: 100%;
  height: 48px;
  background-color: #68779E;
  border-radius: 8px;
  border: 1.5px solid #e4e4e400;
  transition: transform 0.1s ease, border 0.3s ease;
  gap: 10px;
  }

  .botao-mobile img{
  width: 20px;
  height: auto;
  }

  .botao-mobile p{
    color: #FFFFFF;
  font-size: 14px;
  }

  .botao-mobile-2 {
  border: 1.5px solid #E4E4E4;
  width: 100%;
  height: 48px;
  background-color: #FEFDFF;
  }

  .botao-mobile-2 p{
  color: #535353;
  font-size: 14px;
  }

  .contatos-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

  .git-icon, .linkedin-icon, .whatsapp-icon, .mail-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 500px;
  background-color: #FFFFFF;
  border: 1.5px solid #E4E4E4;
  transition: all 0.3s ease;
}
.contatos-mobile img{
  width: 23px;
  height: auto;
}

}
