@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

*{

  user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: #68779E;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

@media (max-width: 768px) {
  body {
    background-color: #FBF9FE;
  }


}

