<a href="http://192.168.100.44:4200/"><div class="container-card">
  <div class="card-imagem">
    <img src="/images/mobile-desktop.png" />
  </div>

  <div class="titulo">
    <div class="titulo-conteudo">
      <div class="texto">
        <h3>Website Pessoal</h3>
        <p>Design e desenvolvimento de um site portifolio pessoal responsivo</p>
      </div>

      <app-circulo
        [startAnimation]="ativarCirculo"
        [targetPercent]="100"
        [duration]="2000"
      >
      </app-circulo>
    </div>
  </div>
</div>
</a>
